Repository OpenCSGs/csghub-charts: changes, and which lefthook commands are due for each by the changed paths.
All: helm-lint, helm-template, helm-unittest, yaml-validate

Path conditions:
  helm-lint: any of: charts/{csghub,runner,dataflow}/**
  helm-template: any of: charts/{csghub,runner,dataflow}/**
  helm-unittest: any of: charts/{csghub,runner,dataflow}/**
  yaml-validate: any of: **/*.yaml

refactor: remove runner and expand global.deploy and csghub
  charts/csghub/charts/coredns/templates/configmap.yaml
  charts/csghub/charts/registry/templates/configmap.yaml
  charts/csghub/charts/registry/templates/deployment.yaml
  charts/csghub/charts/registry/templates/ingress.yaml
  charts/csghub/charts/registry/templates/secret.yaml
  charts/csghub/charts/registry/templates/service.yaml
  charts/csghub/charts/registry/tests/secret_test.yaml
  charts/csghub/templates/autoscaler.yaml
  charts/csghub/templates/configmap-argo.yaml
  charts/csghub/templates/configmap-error-page.yaml
  charts/csghub/templates/configmap-gateway-rproxy.yaml
  charts/csghub/templates/configmap-knative.yaml
  charts/csghub/templates/configmap-lws.yaml
  charts/csghub/templates/configmap-portal.yaml
  charts/csghub/templates/configmap-runner.yaml
  charts/csghub/templates/configmap-server.yaml
  charts/csghub/templates/deployment-accounting.yaml
  charts/csghub/templates/deployment-dataviewer.yaml
  charts/csghub/templates/deployment-gateway.yaml
  charts/csghub/templates/deployment-mirror.yaml
  charts/csghub/templates/deployment-notification.yaml
  charts/csghub/templates/deployment-portal.yaml
  charts/csghub/templates/deployment-runner.yaml
  charts/csghub/templates/deployment-server.yaml
  charts/csghub/templates/deployment-user.yaml
  charts/csghub/templates/helpers/_gitlabShell.tpl
  charts/csghub/templates/helpers/_image.tpl
  charts/csghub/templates/helpers/_namespace.tpl
  charts/csghub/templates/ingress.yaml
  charts/csghub/templates/job-auto-configure.yaml
  charts/csghub/templates/job-server.yaml
  charts/csghub/templates/namespace.yaml
  charts/csghub/templates/secret.yaml
  charts/csghub/templates/services.yaml
  charts/csghub/tests/configmap_test.yaml
  charts/csghub/tests/deployment_test.yaml
  charts/csghub/values.yaml
Due: helm-lint, helm-template, helm-unittest, yaml-validate

refactor: refactor external resource connection info to <resource>.external
  charts/csghub/templates/configmap-server.yaml
  charts/csghub/templates/helpers/_database.tpl
  charts/csghub/templates/helpers/_gitaly.tpl
  charts/csghub/templates/helpers/_objectStore.tpl
  charts/csghub/templates/helpers/_redis.tpl
  charts/csghub/templates/helpers/_registry.tpl
  charts/csghub/tests/gitaly_test.yaml
  charts/csghub/tests/postgresql_test.yaml
  charts/csghub/tests/s3_test.yaml
  charts/csghub/values.schema.json
  charts/csghub/values.yaml
Due: helm-lint, helm-template, helm-unittest, yaml-validate

fix: fix database and user cannot be created if first install failed
  charts/csghub/charts/postgresql/templates/configmap.yaml
Due: helm-lint, helm-template, helm-unittest, yaml-validate

refactor: update resource seed sql file to adapt runner
  charts/csghub/scripts/02_seed_space_resources.sql
Due: helm-lint, helm-template, helm-unittest

fix: remove invalid global parameter
  charts/csghub/charts/registry/tests/secret_test.yaml
Due: helm-lint, helm-template, helm-unittest, yaml-validate

fix: deduplicate yamllinter
  ct.yaml
Due: none

fix: refactor global.deploy to global
  quick_install.sh
Due: none

feat: add readinessProbe to server, rproxy, moderation
  charts/csghub/templates/deployment-gateway.yaml
  charts/csghub/templates/deployment-server.yaml
Due: helm-lint, helm-template, helm-unittest, yaml-validate

chore: adjust job maintenance strategy
  charts/csghub/charts/casdoor/templates/job.yaml
  charts/csghub/charts/csgship/charts/web/templates/job.yaml
  charts/csghub/charts/gitlab-shell/templates/job.yaml
  charts/csghub/charts/minio/templates/job.yaml
  charts/csghub/charts/postgresql/templates/job.yaml
  charts/csghub/templates/job-server.yaml
Due: helm-lint, helm-template, helm-unittest, yaml-validate

fix: add new svc to control mirror stop
  charts/csghub/templates/deployment-mirror.yaml
  charts/csghub/templates/helpers/_ports.tpl
  charts/csghub/templates/services.yaml
Due: helm-lint, helm-template, helm-unittest, yaml-validate

fix: fixed several minor bugs
  charts/runner/Chart.yaml
  charts/runner/templates/NOTES.txt
  charts/runner/values.yaml
Due: helm-lint, helm-template, helm-unittest, yaml-validate

fix: remove empty notification email envs
  charts/csghub/templates/deployment-notification.yaml
Due: helm-lint, helm-template, helm-unittest, yaml-validate

fix: update argo image registry
  charts/runner/templates/configmap-argo.yaml
Due: helm-lint, helm-template, helm-unittest, yaml-validate

refactor: refactor postgre and redis config template
  charts/csghub/charts/csgship/charts/agentic/templates/deployment.yaml
  charts/csghub/charts/csgship/charts/billing/templates/deployment.yaml
  charts/csghub/charts/csgship/charts/web/templates/statefulset.yaml
  charts/csghub/charts/csgship/charts/worker/templates/deployment.yaml
  charts/csghub/charts/redis/templates/secret.yaml
  charts/csghub/templates/helpers/_database.tpl
  charts/csghub/templates/helpers/_ports.tpl
  charts/csghub/templates/helpers/_postgres.tpl
  charts/csghub/templates/helpers/_random.tpl
  charts/csghub/templates/helpers/_redis.tpl
  charts/csghub/tests/postgresql_test.yaml
  charts/csghub/values.schema.json
  charts/csghub/values.yaml
Due: helm-lint, helm-template, helm-unittest, yaml-validate

fix: rollback workflow-controller configmap
  charts/csghub/charts/runner/templates/configmap-argo.yaml
  charts/runner/templates/configmap-argo.yaml
Due: helm-lint, helm-template, helm-unittest, yaml-validate

feat: support insecure pull from private registry
  charts/csghub/charts/runner/templates/helpers/_runner.tpl
  charts/runner/templates/helpers/_runner.tpl
Due: helm-lint, helm-template, helm-unittest
