Repository OpenCSGs/csghub-charts: changes, and which lefthook commands are due for each by the changed paths.
All: helm-lint, helm-template, helm-unittest, yaml-validate

Path conditions:
  helm-lint: any of: charts/{csghub,runner,dataflow}/**
  helm-template: any of: charts/{csghub,runner,dataflow}/**
  helm-unittest: any of: charts/{csghub,runner,dataflow}/**
  yaml-validate: any of: **/*.yaml

fix: incorrect csghub endpoint configured and enable cors
  charts/csghub/charts/dataflow/templates/dataflow/configmap.yaml
  charts/csghub/charts/dataflow/templates/helpers/_labelStudio.tpl
  charts/csghub/charts/dataflow/templates/label-studio/configmap.yaml
  charts/csghub/charts/dataflow/templates/label-studio/ingress.yaml
  charts/dataflow/templates/dataflow/configmap.yaml
  charts/dataflow/templates/helpers/_labelStudio.tpl
  charts/dataflow/templates/label-studio/configmap.yaml
  charts/dataflow/templates/label-studio/ingress.yaml
Due: helm-lint, helm-template, helm-unittest, yaml-validate

fix: correct postgresql default password
  charts/csghub/charts/dataflow/templates/common/_postgres.tpl
  charts/csghub/charts/dataflow/templates/redis/statefulset.yaml
  charts/csghub/charts/dataflow/values.yaml
  charts/csghub/charts/postgresql/templates/_helpers.tpl
  charts/csghub/charts/postgresql/templates/configmap.yaml
  charts/csghub/charts/postgresql/templates/secret.yaml
  charts/csghub/templates/helpers/_postgres.tpl
  charts/dataflow/templates/common/_postgres.tpl
  charts/dataflow/templates/redis/statefulset.yaml
  charts/dataflow/values.yaml
Due: helm-lint, helm-template, helm-unittest, yaml-validate

feat: support insecure pull from private registry
  charts/csghub/charts/runner/templates/helpers/_runner.tpl
  charts/runner/templates/helpers/_runner.tpl
Due: helm-lint, helm-template, helm-unittest

fix: rollback workflow-controller configmap
  charts/csghub/charts/runner/templates/configmap-argo.yaml
  charts/runner/templates/configmap-argo.yaml
Due: helm-lint, helm-template, helm-unittest, yaml-validate

fix: reigstry insecure cannot be applied
  charts/csghub/charts/runner/templates/helpers/_runner.tpl
  charts/runner/templates/configmap-knative.yaml
  charts/runner/templates/helpers/_runner.tpl
Due: helm-lint, helm-template, helm-unittest, yaml-validate

fix: add setPath to volumeMounts
  charts/csghub/charts/dataflow/templates/mongo/statefulset.yaml
  charts/dataflow/templates/mongo/statefulset.yaml
Due: helm-lint, helm-template, helm-unittest, yaml-validate

feat: update README.md
  README.md
Due: none

feat: add chart runner dataflow release ci
  .gitlab-ci.yml
Due: none

fix: fix env defined error
  .gitlab-ci.yml
Due: none

feat: refactor version format
  charts/csghub/charts/dataflow/Chart.yaml
  charts/dataflow/Chart.yaml
Due: helm-lint, helm-template, helm-unittest, yaml-validate

refactor: postgresql
  charts/common/.helmignore
  charts/common/Chart.yaml
  charts/common/templates/_capabilities.tpl
  charts/common/templates/_cluster.tpl
  charts/common/templates/_domain.tpl
  charts/common/templates/_endpoint.tpl
  charts/common/templates/_image.tpl
  charts/common/templates/_label.tpl
  charts/common/templates/_name.tpl
  charts/common/templates/_postgres.tpl
  charts/common/templates/_random.tpl
  charts/csghub/.helmignore
  charts/csghub/Chart.lock
  charts/csghub/Chart.yaml
  charts/csghub/charts/common/.helmignore
  charts/csghub/charts/common/Chart.yaml
  charts/csghub/charts/common/templates/_capabilities.tpl
  charts/csghub/charts/common/templates/_cluster.tpl
  charts/csghub/charts/common/templates/_domain.tpl
  charts/csghub/charts/common/templates/_endpoint.tpl
  charts/csghub/charts/common/templates/_image.tpl
  charts/csghub/charts/common/templates/_label.tpl
  charts/csghub/charts/common/templates/_name.tpl
  charts/csghub/charts/common/templates/_postgres.tpl
  charts/csghub/charts/common/templates/_random.tpl
  charts/csghub/templates/postgresql/configmap.yaml
  charts/csghub/templates/postgresql/secret.yaml
  charts/csghub/templates/postgresql/service.yaml
  charts/csghub/templates/postgresql/statefulset.yaml
  charts/csghub/tests/postgresql_test.yaml
  charts/csghub/values.yaml
Due: helm-lint, helm-template, helm-unittest, yaml-validate

refactor: redis
  charts/csghub/templates/redis/secret.yaml
  charts/csghub/templates/redis/service.yaml
  charts/csghub/templates/redis/statefulset.yaml
  charts/csghub/tests/redis_test.yaml
  charts/csghub/values.yaml
Due: helm-lint, helm-template, helm-unittest, yaml-validate

refactor: merge csghub core service config
  charts/csghub/templates/configmap-accounting.yaml
  charts/csghub/templates/configmap-core.yaml
  charts/csghub/templates/configmap-gateway-moderation.yaml
  charts/csghub/templates/configmap-portal.yaml
  charts/csghub/templates/configmap-server.yaml
  charts/csghub/templates/deployment-accounting.yaml
  charts/csghub/templates/deployment-dataviewer.yaml
  charts/csghub/templates/deployment-gateway.yaml
  charts/csghub/templates/deployment-mirror.yaml
  charts/csghub/templates/deployment-notification.yaml
  charts/csghub/templates/deployment-portal.yaml
  charts/csghub/templates/deployment-server.yaml
  charts/csghub/templates/deployment-user.yaml
  charts/csghub/tests/deployment_test.yaml
  charts/csghub/tests/domain_test.yaml
  charts/csghub/tests/gitaly_test.yaml
  charts/csghub/tests/postgresql_test.yaml
  charts/csghub/tests/s3_test.yaml
Due: helm-lint, helm-template, helm-unittest, yaml-validate

fix: error rendering nats config
  charts/csghub/templates/configmap-core.yaml
  charts/csghub/templates/helpers/_nats.tpl
  charts/csghub/templates/job-server.yaml
Due: helm-lint, helm-template, helm-unittest, yaml-validate

refactor: optimize multiple endpoint/ingress templates
  charts/common/templates/_endpoint.tpl
  charts/common/templates/_image.tpl
  charts/common/templates/_ingress.tpl
Due: none

fix: portal redirect uri
  charts/csghub/templates/configmap-core.yaml
Due: helm-lint, helm-template, helm-unittest, yaml-validate

chore: add test and delete unnecessary env
  charts/csghub/templates/deployment-accounting.yaml
  charts/csghub/templates/deployment-dataviewer.yaml
  charts/csghub/templates/deployment-gateway.yaml
  charts/csghub/templates/deployment-mirror.yaml
  charts/csghub/templates/deployment-notification.yaml
  charts/csghub/templates/deployment-portal.yaml
  charts/csghub/templates/deployment-server.yaml
  charts/csghub/templates/deployment-user.yaml
  charts/csghub/tests/configmap_test.yaml
Due: helm-lint, helm-template, helm-unittest, yaml-validate

fix: ingress proxy_pass error when use /endpoints
  charts/csghub/templates/ingress.yaml
Due: helm-lint, helm-template, helm-unittest, yaml-validate

feat: update csghub denpendencies common chart
  charts/csghub/charts/common/templates/_endpoint.tpl
  charts/csghub/charts/common/templates/_image.tpl
  charts/csghub/charts/common/templates/_ingress.tpl
Due: helm-lint, helm-template, helm-unittest

refactor: minio
  charts/csghub/scripts/minio/create_minio_buckets.sh
  charts/csghub/templates/minio/_minio.tpl
  charts/csghub/templates/minio/configmap.yaml
  charts/csghub/templates/minio/ingress.yaml
  charts/csghub/templates/minio/job.yaml
  charts/csghub/templates/minio/secret.yaml
  charts/csghub/templates/minio/service.yaml
  charts/csghub/templates/minio/statefulset.yaml
  charts/csghub/tests/minio_test.yaml
  charts/csghub/tests/postgresql_test.yaml
  charts/csghub/tests/redis_test.yaml
  charts/csghub/values.yaml
Due: helm-lint, helm-template, helm-unittest, yaml-validate

feat: re-add sdependencies reloader
  charts/csghub/Chart.lock
  charts/csghub/Chart.yaml
  charts/csghub/charts/reloader/.helmignore
  charts/csghub/charts/reloader/Chart.yaml
  charts/csghub/charts/reloader/README.md
  charts/csghub/charts/reloader/templates/NOTES.txt
  charts/csghub/charts/reloader/templates/_helpers.tpl
  charts/csghub/charts/reloader/templates/clusterrole.yaml
  charts/csghub/charts/reloader/templates/clusterrolebinding.yaml
  charts/csghub/charts/reloader/templates/deployment.yaml
  charts/csghub/charts/reloader/templates/networkpolicy.yaml
  charts/csghub/charts/reloader/templates/poddisruptionbudget.yaml
  charts/csghub/charts/reloader/templates/podmonitor.yaml
  charts/csghub/charts/reloader/templates/role.yaml
  charts/csghub/charts/reloader/templates/rolebinding.yaml
  charts/csghub/charts/reloader/templates/secret.yaml
  charts/csghub/charts/reloader/templates/service.yaml
  charts/csghub/charts/reloader/templates/serviceaccount.yaml
  charts/csghub/charts/reloader/templates/servicemonitor.yaml
  charts/csghub/charts/reloader/templates/verticalpodautoscaler.yaml
  charts/csghub/charts/reloader/values.schema.json
  charts/csghub/charts/reloader/values.yaml
  charts/csghub/values.yaml
Due: helm-lint, helm-template, helm-unittest, yaml-validate

fix: remove and operator
  charts/csghub/templates/minio/secret.yaml
Due: helm-lint, helm-template, helm-unittest, yaml-validate

fix: ensure password generated base to service.name
  charts/csghub/templates/minio/secret.yaml
Due: helm-lint, helm-template, helm-unittest, yaml-validate

fix: convert base64 encode assets verify to plain text
  charts/csghub/tests/minio_test.yaml
  charts/csghub/tests/postgresql_test.yaml
Due: helm-lint, helm-template, helm-unittest, yaml-validate

feat: add new template for object storgae
  charts/common/templates/_objectStore.tpl
  charts/common/templates/_postgres.tpl
  charts/csghub/charts/common/templates/_objectStore.tpl
  charts/csghub/charts/common/templates/_postgres.tpl
Due: helm-lint, helm-template, helm-unittest

refactor: registry
  charts/csghub/templates/registry/_registry.tpl
  charts/csghub/templates/registry/configmap.yaml
  charts/csghub/templates/registry/deployment.yaml
  charts/csghub/templates/registry/ingress.yaml
  charts/csghub/templates/registry/secret.yaml
  charts/csghub/templates/registry/service.yaml
  charts/csghub/tests/registry_test.yaml
  charts/csghub/values.yaml
Due: helm-lint, helm-template, helm-unittest, yaml-validate

refactor: gitaly
  charts/csghub/templates/gitaly/configmap.yaml
  charts/csghub/templates/gitaly/service.yaml
  charts/csghub/templates/gitaly/statefulset.yaml
  charts/csghub/tests/gitaly_test.yaml
  charts/csghub/values.yaml
Due: helm-lint, helm-template, helm-unittest, yaml-validate

refactor: Keep global.image.registry at the highest priority
  charts/csghub/charts/common/templates/_image.tpl
  charts/csghub/tests/minio_test.yaml
  charts/csghub/tests/postgresql_test.yaml
  charts/csghub/tests/redis_test.yaml
  charts/csghub/tests/registry_test.yaml
Due: helm-lint, helm-template, helm-unittest, yaml-validate
